* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9aee9d;
    color: white;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 80px 20px 20px;
    background-color: #f4f4f4;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.balance {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 30%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 30%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 30%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.operation {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}